In [9]:
d = int(input('ป้อนข้อมูลอุณหภูมิ: '))
if d <= 38:
    print('ปกติ')
elif d <= 40:
    print('กักตัวดูอาการและตรวจอุณหภูมิ')
else:
    print('ตรวจโควิด-19 โดยด่วน')

ป้อนข้อมูลอุณหภูมิ: 25
ปกติ

In [ ]:
i=1
for i in range(len(0,15)):
    print()

In [4]:
import pandas as pd
data = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139377,ZWE,Africa,Zimbabwe,2021-12-07,141601.0,2555.0,996.571,4713.0,3.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
139378,ZWE,Africa,Zimbabwe,2021-12-08,150628.0,9027.0,2184.429,4720.0,7.0,1.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
139379,ZWE,Africa,Zimbabwe,2021-12-09,155817.0,5189.0,2776.857,4723.0,3.0,2.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
139380,ZWE,Africa,Zimbabwe,2021-12-10,155817.0,0.0,2625.143,4723.0,0.0,2.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
139381,ZWE,Africa,Zimbabwe,2021-12-11,165002.0,9185.0,3782.714,4735.0,12.0,3.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139382 entries, 0 to 139381
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    139382 non-null  object
 1   continent                                   130518 non-null  object
 2   location                                    139382 non-null  object
 3   date                                        139382 non-null  object
 4   total_cases                                 131620 non-null  float64
 5   new_cases                                   131615 non-null  float64
 6   new_cases_smoothed                          130575 non-null  float64
 7   total_deaths                                120263 non-null  float64
 8   new_deaths                                  120459 non-null  float64
 9   new_deaths_smoothed                         130575 non-null  float64
 10  total_cases_per_million                     130946 non-null  float64
 11  new_cases_per_million                       130941 non-null  float64
 12  new_cases_smoothed_per_million              129906 non-null  float64
 13  total_deaths_per_million                    119602 non-null  float64
 14  new_deaths_per_million                      119798 non-null  float64
 15  new_deaths_smoothed_per_million             129906 non-null  float64
 16  reproduction_rate                           110160 non-null  float64
 17  icu_patients                                17100 non-null   float64
 18  icu_patients_per_million                    17100 non-null   float64
 19  hosp_patients                               19542 non-null   float64
 20  hosp_patients_per_million                   19542 non-null   float64
 21  weekly_icu_admissions                       1328 non-null    float64
 22  weekly_icu_admissions_per_million           1328 non-null    float64
 23  weekly_hosp_admissions                      2211 non-null    float64
 24  weekly_hosp_admissions_per_million          2211 non-null    float64
 25  new_tests                                   58430 non-null   float64
 26  total_tests                                 58563 non-null   float64
 27  total_tests_per_thousand                    58563 non-null   float64
 28  new_tests_per_thousand                      58430 non-null   float64
 29  new_tests_smoothed                          70388 non-null   float64
 30  new_tests_smoothed_per_thousand             70388 non-null   float64
 31  positive_rate                               66282 non-null   float64
 32  tests_per_case                              65621 non-null   float64
 33  tests_units                                 72477 non-null   object
 34  total_vaccinations                          36624 non-null   float64
 35  people_vaccinated                           35001 non-null   float64
 36  people_fully_vaccinated                     32069 non-null   float64
 37  total_boosters                              9436 non-null    float64
 38  new_vaccinations                            30447 non-null   float64
 39  new_vaccinations_smoothed                   65944 non-null   float64
 40  total_vaccinations_per_hundred              36624 non-null   float64
 41  people_vaccinated_per_hundred               35001 non-null   float64
 42  people_fully_vaccinated_per_hundred         32069 non-null   float64
 43  total_boosters_per_hundred                  9436 non-null    float64
 44  new_vaccinations_smoothed_per_million       65944 non-null   float64
 45  new_people_vaccinated_smoothed              64782 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  64782 non-null   float64
 47  stringency_index                            113262 non-null  float64
 48  population                                  138391 non-null  float64
 49  population_density                          126163 non-null  float64
 50  median_age                                  120118 non-null  float64
 51  aged_65_older                               118792 non-null  float64
 52  aged_70_older                               119463 non-null  float64
 53  gdp_per_capita                              120925 non-null  float64
 54  extreme_poverty                             80759 non-null   float64
 55  cardiovasc_death_rate                       120334 non-null  float64
 56  diabetes_prevalence                         124384 non-null  float64
 57  female_smokers                              93693 non-null   float64
 58  male_smokers                                92341 non-null   float64
 59  handwashing_facilities                      60563 non-null   float64
 60  hospital_beds_per_thousand                  109292 non-null  float64
 61  life_expectancy                             129582 non-null  float64
 62  human_development_index                     120425 non-null  float64
 63  excess_mortality_cumulative_absolute        4881 non-null    float64
 64  excess_mortality_cumulative                 4881 non-null    float64
 65  excess_mortality                            4881 non-null    float64
 66  excess_mortality_cumulative_per_million     4881 non-null    float64
dtypes: float64(62), object(5)
memory usage: 71.2+ MB

In [12]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.316200e+05,131615.000000,130575.000000,1.202630e+05,120459.000000,130575.000000,130946.000000,130941.000000,129906.000000,119602.000000,...,93693.000000,92341.000000,60563.000000,109292.000000,129582.000000,120425.000000,4881.000000,4881.000000,4881.000000,4881.000000
mean,2.195452e+06,8559.717327,8563.451307,5.334078e+04,182.695506,167.805190,21479.900731,91.349637,91.176799,429.714347,...,10.586103,32.753211,50.837213,3.027838,73.262401,0.726014,34081.168408,9.300443,16.473342,846.448426
std,1.245719e+07,44551.382323,43912.561191,2.729904e+05,864.607480,811.783588,35283.598286,215.906718,182.502998,694.696572,...,10.500102,13.517675,31.817005,2.454095,7.529330,0.150013,95174.579608,17.397939,31.774410,1254.158036
min,1.000000e+00,-74347.000000,-6223.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-3125.829000,-272.971000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-31959.400000,-27.350000,-95.920000,-1728.844404
25%,2.633000e+03,3.000000,10.714000,8.600000e+01,0.000000,0.143000,459.884500,0.326000,1.649250,12.932000,...,1.900000,21.600000,20.105000,1.300000,67.940000,0.602000,-133.400000,-0.830000,-0.480000,-37.116739
50%,3.036550e+04,106.000000,131.571000,8.050000e+02,2.000000,2.000000,3558.199000,11.409000,16.229000,88.848000,...,6.300000,31.400000,49.839000,2.400000,74.620000,0.744000,2958.200000,5.590000,7.070000,395.023346
75%,2.847530e+05,1101.000000,1162.071500,7.026500e+03,22.000000,18.857000,27668.588750,85.747000,95.975750,575.441250,...,19.300000,41.300000,83.241000,4.000000,78.740000,0.845000,22071.700000,14.000000,22.880000,1412.769020
max,2.697360e+08,908289.000000,827219.857000,5.301714e+06,18007.000000,14703.286000,254175.218000,8620.690000,3544.004000,6047.258000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,984309.300000,121.160000,373.940000,7270.553623

In [10]:
df = data.location.unique()
len(df)

237

In [11]:
i=1
for country in range(len(df)):
    print('%d' %(i), df[country])
    i += 1

1 Afghanistan
2 Africa
3 Albania
4 Algeria
5 Andorra
6 Angola
7 Anguilla
8 Antigua and Barbuda
9 Argentina
10 Armenia
11 Aruba
12 Asia
13 Australia
14 Austria
15 Azerbaijan
16 Bahamas
17 Bahrain
18 Bangladesh
19 Barbados
20 Belarus
21 Belgium
22 Belize
23 Benin
24 Bermuda
25 Bhutan
26 Bolivia
27 Bonaire Sint Eustatius and Saba
28 Bosnia and Herzegovina
29 Botswana
30 Brazil
31 British Virgin Islands
32 Brunei
33 Bulgaria
34 Burkina Faso
35 Burundi
36 Cambodia
37 Cameroon
38 Canada
39 Cape Verde
40 Cayman Islands
41 Central African Republic
42 Chad
43 Chile
44 China
45 Colombia
46 Comoros
47 Congo
48 Cook Islands
49 Costa Rica
50 Cote d'Ivoire
51 Croatia
52 Cuba
53 Curacao
54 Cyprus
55 Czechia
56 Democratic Republic of Congo
57 Denmark
58 Djibouti
59 Dominica
60 Dominican Republic
61 Ecuador
62 Egypt
63 El Salvador
64 Equatorial Guinea
65 Eritrea
66 Estonia
67 Eswatini
68 Ethiopia
69 Europe
70 European Union
71 Faeroe Islands
72 Falkland Islands
73 Fiji
74 Finland
75 France
76 French Polynesia
77 Gabon
78 Gambia
79 Georgia
80 Germany
81 Ghana
82 Gibraltar
83 Greece
84 Greenland
85 Grenada
86 Guatemala
87 Guernsey
88 Guinea
89 Guinea-Bissau
90 Guyana
91 Haiti
92 High income
93 Honduras
94 Hong Kong
95 Hungary
96 Iceland
97 India
98 Indonesia
99 International
100 Iran
101 Iraq
102 Ireland
103 Isle of Man
104 Israel
105 Italy
106 Jamaica
107 Japan
108 Jersey
109 Jordan
110 Kazakhstan
111 Kenya
112 Kiribati
113 Kosovo
114 Kuwait
115 Kyrgyzstan
116 Laos
117 Latvia
118 Lebanon
119 Lesotho
120 Liberia
121 Libya
122 Liechtenstein
123 Lithuania
124 Low income
125 Lower middle income
126 Luxembourg
127 Macao
128 Madagascar
129 Malawi
130 Malaysia
131 Maldives
132 Mali
133 Malta
134 Marshall Islands
135 Mauritania
136 Mauritius
137 Mexico
138 Micronesia (country)
139 Moldova
140 Monaco
141 Mongolia
142 Montenegro
143 Montserrat
144 Morocco
145 Mozambique
146 Myanmar
147 Namibia
148 Nauru
149 Nepal
150 Netherlands
151 New Caledonia
152 New Zealand
153 Nicaragua
154 Niger
155 Nigeria
156 Niue
157 North America
158 North Macedonia
159 Northern Cyprus
160 Norway
161 Oceania
162 Oman
163 Pakistan
164 Palau
165 Palestine
166 Panama
167 Papua New Guinea
168 Paraguay
169 Peru
170 Philippines
171 Pitcairn
172 Poland
173 Portugal
174 Qatar
175 Romania
176 Russia
177 Rwanda
178 Saint Helena
179 Saint Kitts and Nevis
180 Saint Lucia
181 Saint Vincent and the Grenadines
182 Samoa
183 San Marino
184 Sao Tome and Principe
185 Saudi Arabia
186 Senegal
187 Serbia
188 Seychelles
189 Sierra Leone
190 Singapore
191 Sint Maarten (Dutch part)
192 Slovakia
193 Slovenia
194 Solomon Islands
195 Somalia
196 South Africa
197 South America
198 South Korea
199 South Sudan
200 Spain
201 Sri Lanka
202 Sudan
203 Suriname
204 Sweden
205 Switzerland
206 Syria
207 Taiwan
208 Tajikistan
209 Tanzania
210 Thailand
211 Timor
212 Togo
213 Tokelau
214 Tonga
215 Trinidad and Tobago
216 Tunisia
217 Turkey
218 Turkmenistan
219 Turks and Caicos Islands
220 Tuvalu
221 Uganda
222 Ukraine
223 United Arab Emirates
224 United Kingdom
225 United States
226 Upper middle income
227 Uruguay
228 Uzbekistan
229 Vanuatu
230 Vatican
231 Venezuela
232 Vietnam
233 Wallis and Futuna
234 World
235 Yemen
236 Zambia
237 Zimbabwe